<div id="navigation-menu">
	<div id="hamburger">
		<span><i class="fa fa-bars" aria-hidden="true"></i></span>
	</div>
	<div id="hamburger-menu" style="display: none;">
		<a class="menu-item nav-link" href="../index.html">Home</a>
		<a class="menu-item nav-link" href="../pages/platonic-solids-project.html">Project 1</a>
		<a class="menu-item nav-link" href="../pages/3d-room-project.html">Project 2</a>
		<a class="menu-item nav-link" href="../pages/cube-physics-project.html">Project 3</a>
	</div>
</div>